.footer {
    background-color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.footer-logo {
    height: 11rem;
    width: 12.5rem;
    border-radius: 20px;
    margin-right: 1rem;
}

.footer-brand-lobo {
    font-size: 5rem;
    font-family: $titlefont;
    color: white;
    text-shadow: 2px 2px 2px rgb(248, 55, 55);
    text-decoration: none;
}

.footer-nav-item {
    font-size: 1.4rem;
}

.direccion {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}